@page
@model StoryTellingApp.Pages.Tags.IndexModel
@using StoryTellingApp.Entity
@{
}
<div class="container">
    <div class="row ">
        @foreach(Tags tags in Model.Tags){
            <div class="col-xl-4 col-lg-4">
                <div class="card l-bg-cherry">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">@tags.NameTag</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-4 text-right">
                                <span> @tags.numberRef <i class="fa fa-arrow-up"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>